venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
results/**/acts_*.npy
results/scaling/*.npy
results/**/*.npz
results_gpu/
results_gpu/
results/
*.npy
*.npz

pod_final/
pod_final_BACKUP*/
pod_results/
*.tgz
